.jumbotron {
    background-color: #02064a;
    color: #eeeeee;
    text-align: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.extraBtnStyle {
    border: 0;
    color: black;
}

.extraBtnStyle:hover {
    background-color: lightgrey;
}

.footer {
    bottom: 0;
    border-top: 2px solid lightgray;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.footerText {
    margin-top: 20px;
}